.results {
  height: fit-content;
}

.results-top {
  min-width: 1000px;
  max-width: 1000px;
}

.result-header {
  text-align: left;
}

.results-top .header.bronze {
  color: #c9993c;
}

.results-top .header.silver {
  color: #BCC6CC;
}

.results-top .header.gold {
  color: #fbbd08;
}

.bronze {
  color: #c9993c;
}

.silver {
  color: #BCC6CC;
}

.gold {
  color: #fbbd08;
}