.community {
  height: calc(100% - 56px);
  background: #FFF;
  background-image: linear-gradient(to bottom,rgba(31, 54, 77, 0.1) 56px, rgba(31, 54, 77, 0.3) 400px);
  display: flex;
  justify-content: center;
}

.community-forum {
  width: 1000px;
}

.community-feed {
  padding-left: 16px;
  color: #FFFFFF;
}

